/* 
    Created on : 07-ene-2015, 16:38:21
    Author     : Christopher Sebastian Lara Cariceo
*/
@font-face {
    font-family: 'Light.otf';
    src: url('../fonts/DINNextLTPro Light.otf') format('truetype');
}
@font-face {
    font-family: 'Medium.otf';
    src: url('../fonts/DINNextLTPro Medium.otf') format('truetype');
}
@font-face {
    font-family: 'MediumItalic.otf';
    src: url('../fonts/DINNextLTPro MediumItalic.otf') format('truetype');
}
@font-face {
    font-family: 'TheMix-3-LightIta.otf';
    src: url('../fonts/TheMix-3-LightIta.otf') format('truetype');
}
@font-face {
    font-family: 'TheMix-6-SemiBold.otf';
    src: url('../fonts/TheMix-6-SemiBold.otf') format('truetype');
}
.contenidoPrimario{
    width: 958px;
    height: 678px;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -webkit-box-orient: vertical;
    -webkit-transition: 200ms -webkit-transform;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #333;
    display: -webkit-box;
    padding: 0;
    background-image: url('../img/chamal-fondo.png');
    background-size: 958px 678px;
}
.contenidoPrimario .opciones{
    position: absolute;
    width: 1025px;
    height: 100px;
    margin-top: 280px;
    /*background-color: red;*/
}
#opcion1{
    width: 60px;
    height: 20px;
    margin-left: 66px;
    margin-top: 40px;
    /*background-color: green;*/
    background-image: url(../img/evento-black.png);
    background-position: 4px 0px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}
#opcion1:hover{
    background-image: url(../img/evento-red.png);
}
#opcion2{
    width: 90px;
    height: 20px;
    margin-left: 107px;;
    margin-top: 40px;
    /*background-color: green;*/
    background-image: url(../img/directorio-black.png);
    background-position: 4px 0px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}
#opcion2:hover{
    background-image: url(../img/directorio-red.png);
}
#opcion3{
    width: 170px;
    height: 50px;
    margin-left: 75px;
    margin-top: 22px;
    /* background-color: green; */
    background-image: url(../img/logo-black.png);
    background-position: 4px 0px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}
#opcion4{
    width: 90px;
    height: 20px;
    margin-left: 88px;
    margin-top: 40px;
    /*background-color: green;*/
    background-image: url(../img/foro-black.png);
    background-position: 4px 0px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}
#opcion4:hover{
    background-image: url(../img/foro-red.png);
}
#opcion5{
    width: 90px;
    height: 20px;
    margin-left: 94px;
    margin-top: 40px;
    /*background-color: green;*/
    background-image: url(../img/estilo-black.png);
    background-position: 4px 0px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}
#opcion5:hover{
    background-image: url(../img/estilo-red.png);
}
.none{
    display: none;
}
.center{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
#opcion6{
    width: 958px;
    height: 15px;
    margin-top: 250px;
    font-family: helvetica;
    font-weight: bolder;
    color: red;
    float: left;
}
#opcion6 .boton-about{
    margin: 0 auto;
    width: 43px;
    height: 15px;
    background-image: url('../img/about.jpg');
    background-size: 42px 13px;
    background-repeat: no-repeat;
}
/* about */
.contenidoPrimario .about{
    width: 958px;
    height: 678px;
}
.contenidoPrimario .contenedor-secciones .about-logo{
    width: 958px;
    height: 74px;
    /*    background-color: red;*/
}
.contenidoPrimario .contenedor-secciones .about-logo .logo{
    width: 196px;
    height: 89px;
    background-image: url('../img/logo-black.png');
    background-repeat: no-repeat;
    background-position: 41px 41px;
    background-size: 105px 33px;
}
.contenidoPrimario .contenedor-secciones .about-logo .foto-bienvenida {
    margin: 0 auto;
    width: 341px;
    height: 462px;
    margin-top: 47px;
    background-image: url('../img/texto-about.png');
}
.contenidoPrimario .contenedor-secciones .about-logo .bienvenida {
    margin: 0 auto;
    width: 341px;
    height: 462px;
    margin-top: 47px;
    background-color: rgba(255,255,255,0.7);
}
.contenidoPrimario .contenedor-secciones .about-logo .bienvenida .healt{
    margin: 0 auto;
    width: 300px;
    height: 65px;
    background-image: url('../img/healt.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 131px 12px;
}
.contenidoPrimario .contenedor-secciones .about-logo .bienvenida .texto{
    margin: 0 auto;
    width: 300px;
    height: 360px;
    margin-top: 10px;
    /*    background-color: red;*/
    font-size: 11px;
    text-align: justify;
    font-family: "Light.otf";
    line-height: 14px;
}
.formato-biemvenida-titulo{
    font-family: "Medium.otf";
}
.color-text{
    color: #bf5e57;
}
.contenidoPrimario .contenedor-secciones .about-logo .volver{
    width: 958px;
    height: 20px;
    margin-top: 17px;
    /*    background-color: red;*/
}
.contenidoPrimario .contenedor-secciones .about-logo .volver .boton-volver{
    width: 30px;
    height: 22px;
    margin-left: 45px;
    background-image: url('../img/volver.png');
    background-repeat: no-repeat;
}
/* Eventos */

.contenidoPrimario .contenedor-secciones{
    width: 958px;
    height: 678px;
    /*    background-color: red;*/
}
.contenidoPrimario .contenedor-secciones .about-logo .workshop{
    width: 355px;
    height: 495px;
    margin-left: 387px;
    background-image: url('../img/foto-evento.jpg');
}
.contenidoPrimario .contenedor-secciones .windows-calendar{
    position: absolute;
    width: 885px;
    height: 163px;
    margin-top: 196px;
    margin-left: 40px;
    border: dashed 2px black;
}
.contenidoPrimario .contenedor-secciones .windows-calendar .contenedor-calendario{
    width: 281px;
    height: 131px;
    margin-top: 11px;
    margin-left: 20px;
    background-image: url('../img/calendarios/calendario1.png');
}
.contenidoPrimario .contenedor-secciones .calendario{
    position: absolute;
    width: 344px;
    height: 287px;
    margin-top: 72px;
    margin-left: 40px;
    /*    border: solid 2px black;*/
}
.left{
    background-image: url('../img/boton-calendario-iz.png');
    background-repeat: no-repeat;
}
.right{
    background-image: url('../img/boton-calendario-der.png');
    background-repeat: no-repeat;
}
.contenidoPrimario .contenedor-secciones .calendario .titulo-eventos{
    margin: 0 auto;
    width: 74px;
    height: 17px;
    margin-top: 10px;
    background-image: url('../img/titulo-eventos.png');
    /*    background-color: red;*/
}
.contenidoPrimario .contenedor-secciones .calendario .botones-calendario{
    margin: 0 auto;
    width: 104px;
    height: 10px;
    margin-top: 10px;
    /*    background-color: red;*/
}
.contenidoPrimario .contenedor-secciones .calendario .botones-calendario .botton{
    width: 8px;
    height: 10px;
    float: left;
}
.contenidoPrimario .contenedor-secciones .calendario .botones-calendario .texto-calendario{
    width: 88px;
    height: 11px;
    float: left;
    text-align: center;
    /*    background-color: red;*/
}
.contenidoPrimario .contenedor-secciones .calendario .botones-calendario .texto-calendario p{
    margin-top: -3px;
    color: #b21f23;
    font-weight: bolder;
    font-family: Helvetica;
}
#fecha1{
    background-image: url('../img/meses/enero.png');
}
#fecha2{
    background-image: url('../img/meses/febrero.png');
}
#fecha3{
    background-image: url('../img/meses/marzo.png');
}
#fecha4{
    background-image: url('../img/meses/abril.png');
}
#fecha5{
    background-image: url('../img/meses/mayo.png');
}
#fecha6{
    background-image: url('../img/meses/junio.png');
}
#fecha7{
    background-image: url('../img/meses/julio.png');
}
#fecha8{
    background-image: url('../img/meses/agosto.png');
}
#fecha9{
    background-image: url('../img/meses/septiembre.png');
}
#fecha10{
    background-image: url('../img/meses/octubre.png');
}
#fecha11{
    background-image: url('../img/meses/noviembre.png');
}
#fecha12{
    background-image: url('../img/meses/diciembre.png');
}
.contenidoPrimario .contenedor-secciones .inscribete{
    position: absolute;
    width: 87px;
    height: 85px;
    margin-left: 830px;
    background-image: url('../img/inscribete2.png');
    /*    background-color: red;*/
}
.contenidoPrimario .contenedor-secciones .inscribete:hover{
    background-image: url('../img/inscribete1.png');
}
.contenidoPrimario .contenedor-secciones .info-calendario{
    position: absolute;
    width: 178px;
    height: 160px;
    margin-left: 748px;
    margin-top: 200px;
    /* background-color: red; */
}
.contenidoPrimario .contenedor-secciones .info-calendario .titulo-fecha-evento{
    width: 173px;
    height: 20px;
    /*    background-color: red;*/
}
.contenidoPrimario .contenedor-secciones .info-calendario .info-textos{
    width: 178px;
    height: 134px;
    margin-top: 12px;
    margin-left: -3px;
    background-image: url('../img/texto-calendario/texto1.png');
}
.contenidoPrimario .contenedor-secciones .info-calendario .titulo-fecha-evento p{
    font-family: Helvetica;
    color: #b21f23;
    font-size: 10.5px;
    text-align: justify;
}
.contenidoPrimario .contenedor-secciones .about-logo .formulario{
    margin: 0 auto;
    width: 311px;
    height: 380px;
    margin-top: 80px;
    /*    border: solid 1px black;*/
    padding-bottom: 40px;
}
.contenidoPrimario .contenedor-secciones .about-logo .formulario .contenedor-input input{
    width: 304px;
    height: 26px;
    border: dashed 1px #dc634e;
    padding-left: 5px;
    font-family: "Medium.otf";
    font-size: 12px;
}
.contenidoPrimario .contenedor-secciones .about-logo .formulario .contenedor-input input img{
    position: absolute;
}
.contenidoPrimario .contenedor-secciones .about-logo .formulario .contenedor-area textarea{
    width: 301px;
    height: 54px;
    border: dashed 1px #dc634e;
    padding-left: 5px;
    font-family: "Medium.otf";
    font-size: 12px;
}
.contenidoPrimario .contenedor-secciones .about-logo .titulo-mi-look{
    margin: 0 auto;
    width: 61px;
    height: 40px;
    background-image: url('../img/mi-look.png');
    background-repeat: no-repeat;
}
.contenidoPrimario .contenedor-secciones .pop-up{
    position: absolute;
    width: 958px;
    height: 678px;
    background-color: rgba(0,0,0,0.2);
}
.contenidoPrimario .contenedor-secciones .pop-up .contenido-popup{
    margin: 0 auto;
    width: 402px;
    height: 402px;
    margin-top: 155px;
    /* background-color: rgba(255,255,255,0.8); */
    background-position: 1px 1px;
    background-image: url('../img/recovered.png');
    background-repeat: no-repeat;
}
.contenidoPrimario .contenedor-secciones .pop-up .contenido-popup .criterio-boton{
    position: absolute;
    width: 125px;
    height: 12px;
    margin-top: 182px;
    margin-left: 140px;
    cursor: pointer;
}
.contenedor-input{
    width: 311px;
    height: 26px;
    padding-bottom: 9px;
}
.contenedor-area{
    width: 311px;
    height: 54px;
    padding-bottom: 11px;
}
.contenidoPrimario .contenedor-secciones .about-logo .formulario .boton-enviar{
    margin: 0 auto;
    width: 68px;
    height: 25px;
    background-image: url('../img/boton-enviar.jpg');
    background-repeat: no-repeat;
    margin-top: 11px;
}